[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
scapy-python3 = "*"
scapy = "*"
pywinhook = "*"
requests = "*"
pyinstaller = "*"
python-nmap = "*"
nmap = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
